<h1>Your Reservations</h1>
<div class="row">
  <% reservations.each do |t| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            <% if t.timeslot.gymnasia_id == 1 %>
              RAC - Indoor Court
            <% elsif t.timeslot.gymnasia_id == 2 %>
              RAC - Outdoor Field
            <% elsif t.timeslot.gymnasia_id == 3%>
              Skyline Fitness - Basketball Court
            <% end %>
            Hour <%= Hours::NUM_TO_STRING[t.timeslot.hour]  %> to <%= Hours::NUM_TO_STRING[t.timeslot.hour + 1 ]%> at
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>