<h3>Gym Listings</h3>
<div class="row">
  <% gyms.each do |t| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= t.name %></span>
          <p class="truncate"><%= t.description %></p>
        </div>
        <div class="card-action">
          <%= link_to "View Timeslots", gymnasium_path(t.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Your Current Reservations", reservation_show_path %>